# NZXT SmartDevice (NZXT H500i led and fan controller)
SUBSYSTEM=="usb", ATTRS{idVendor}=="1e71", ATTRS{idProduct}=="1714", TAG+="uaccess", TAG+="udev-acl"
